select {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid white;
    padding: 1rem;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    text-align: center;
    width: 10rem;
}
