@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-align: center;
    flex-grow: 1;
}

h2 {
    font-weight: 400;
}

p.subtitle {
    font-style: italic;
    margin-top: .5rem;
}

body {
    background-color: black;
    color: white;
}

footer,
header {
    padding: 2rem;
}

header {
    margin-bottom: auto;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

header > nav {
    margin-left: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
}

nav > * {
    border: 1px solid white;
    padding: 1rem;
    transition: all .5s ease;
    border-radius: 5px;
}

.current,
nav > *:hover {
    border: 1px solid white;
    background-color: white;
    color: black;
    padding: 1rem;
    scale: 1.1;
}
